.sideMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);

  display: flex;

  .content {
    position: absolute;
    transition: left 300ms;
    left: -80vw;
    width: 80vw;
    height: 100%;
    background-color: white;

    &.active {
      left: 0;
    }
  }

  .drop {
    width: 20vw;
    left: 80vw;
    position: relative;
  }

}